<div class="mdl-card mdl-shadow--2dp" style="width: 100%">
  <table class="mdl-data-table mdl-data-table--selectable">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-descending">ФИО</th>
      <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-descending">Создан</th>
      <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-descending">Статус</th>
      <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-descending">Эксперт</th>
      <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-descending">Руководитель</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
      <td class="mdl-data-table__cell--non-numeric">17.04.2018 17:35</td>
      <td class="mdl-data-table__cell--non-numeric">На рассмотрении</td>
      <td class="mdl-data-table__cell--non-numeric">Филлимонов П.А.</td>
      <td class="mdl-data-table__cell--non-numeric">Пашута В.А.</td>
    </tr>
    </tbody>
  </table>
</div>
