.left-menu-list-item .mdl-list__item {
  border-bottom: 1px solid #f0f0f0;
}
.left-menu-list-item .mdl-list__item-primary-content {
  white-space: pre-line;
  min-width: 120px;
}
.left-menu-list-item .selected-menu-list-item {
  /*background-color: rgba(255,205,117,0.6)*/
  background: #f0f0f0;
  border-right: 2px solid orange;
}
.left-menu-list-item .rounded-orange-badge {
 color: orange;
}
