<div class="mdl-shadow--4dp" style="position: absolute; top: 0; width: 100%; min-height: 50px; background: orange; z-index:99999">
  <div style="display:flex; align-items: center; justify-content: space-between; line-height: 50px;">
    <div style="padding-left: 10px;">
      <b style="color: white;" class="mdl-list__item">У Вас новый вопрос</b>
    </div>
    <div style="padding-right: 10px;">
      <a><b style="color: white; text-decoration: underline; cursor: pointer; padding: 5px 10px;">Показать</b>
      </a>
      <a style="border: 2px solid white; border-radius: 40px; padding: 5px 10px; cursor: pointer;"><b style="color: white;">Закрыть</b></a>
      <!--<button class="mdl-button mdl-js-button mdl-button--icon">
         <i class="material-icons" style="color: white;">cancel</i>
      </button>-->
    </div>
  </div>
</div>
