<div class="mdl-shadow--4dp" style="position: absolute; top: 0; width: 100%; min-height: 50px; background: orange; z-index:99999">
  <div style="display:flex; align-items: center; line-height: 50px;">
    <div style="padding-left: 10px;width: 85%;">
      <a style="color: white;" class="mdl-list__item">У Вас новый вопрос</a>
    </div>
    <div>
      <a style="color: white; text-decoration: underline; cursor: pointer; padding: 5px 10px;" class="mdl-badge--no-background">
        Показать
      </a>
    </div>
    <div>
      <a style="border: 2px solid white; border-radius: 40px; padding: 5px 10px; cursor: pointer; color: white;" class="mdl-cell--hide-phone mdl-cell--hide-tablet">
        Закрыть
      </a>
    </div>
    <div class="mdl-cell--hide-desktop">
      <button class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons" style="color: white;">cancel</i>
      </button>
    </div>
  </div>
</div>
