<div class="mdl-textfield mdl-js-textfield" style="width: 120px;">
  <input class="mdl-textfield__input" type="text" placeholder="Поиск">
</div>
<span>по ФИО</span>
<button id="search_option_menu" class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons" style="font-size: 16px; font-weight: bold;">arrow_drop_down</i>
</button>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="search_option_menu">
  <li class="mdl-menu__item">по ФИО</li>
  <li class="mdl-menu__item">по Статусу</li>
  <li class="mdl-menu__item">по Эксперту</li>
  <li class="mdl-menu__item">по Руководителю</li>
</ul>

